<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Finance.Properties.Settings.FinanceConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Finance.mdf;Database=Finance;Trusted_Connection=Yes;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>